// Extra small devices (portrait phones, less than 576px)
@media (max-width: 480px) {
	#about .statement-container {
		#statement {
			padding: .5em;
		}
		#badges {
			padding: 1em .5em;
		}
	}

	#skills {
		.devicon-container {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	#contact {
		.list-group {
			.list-group-item {
				padding: 40px 4px;
				font-size: 90%;
			}			
		}	
	}
}

// Small devices (landscape phones, 481px and up)
@media (min-width: 481px) and (max-width: 768px) {
	#about {
		.img-container {
			width: 70%;
			margin: 0 15%;
		}
	}

	#skills {
		.devicon-container {
			padding-top: 0;
			padding-bottom: 0;
			.list-group .list-group-item {
			    padding: 20px 60px;
			}
		}
	}
}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 991px) {
#about {
		.img-container {
			width: 60%;
			margin: 0 20%;
		}
	}
}



/*
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
*/
